:root {
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --Tomato: hsl(4, 100%, 67%);
    font-size: 16px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 25px;    
}



img {
    width: 100%;     
}

img:nth-child(2) {
    display: none;
}

.about p{   
    display: flex;    
}

p {
    color: #242742;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;    
}

p img {
    width: 21px;
    height: 21px;
    margin-right: 20px;
}

h1 {
    font-weight: 700;
    font-size: 40px;    
    color: var(--Dark-Slate-Grey);
    line-height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

.subscribe input:-internal-autofill-selected {
    background-color: red !important;
  }

.container {
    width: 100%;    
}

.card {    
    display: flex;
    flex-direction: column;   
}

.text,
.thanks-page{
    margin: 40px 1.5rem;   
}

.about{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 40px;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subscribe
 {
    display: flex;
    flex-direction: column;    
}

.subscribe input {
    height: 56px;
    font-size: 16px;
    margin-bottom: 24px;
    text-indent: 1rem;
    border-radius: 8px;    
}

.subscribe input:focus{
    outline: none;
    box-shadow: none;
}

.subscribe input::placeholder {    
    color: var(--Dark-Slate-Grey);
    opacity: 50%;
}

.subscribe p{
    padding-bottom:8px;
    font-size: 12px;
    font-weight: 700;   
}

.btn {
    height: 56px;
    border-radius: 8px;
    border-style: none;
    background-color: var(--Charcoal-Grey);
    color: var(--White);
    font-weight: 700;
    width: 100%;
    cursor: pointer;
}

.thanks-text img {
    width: 64px;
    height: 64px;
    margin-bottom: 40px;    
}

.thanks-text h1 {
    margin-bottom: 24px;      
}

.thanks-page .btn {
    margin-top: 263px;
    font-size: 16px;
    line-height: 150%;
}

.thanks-page {
    margin-top: 149px;
}

.hidden {
    display: none;
}

.email {
    display: flex;
    justify-content: space-between;
}
.wrong-email {
    color: var(--Tomato);
}


@media screen and (min-width: 800px) {
    body {
        background-color: var(--Charcoal-Grey);
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .card {
        background-color: white;
        width: 928px;
        height: 641px;
        border-radius: 36px;        
    }
   
    .main-page {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 64px;
    }  

    .picture img:nth-child(1) {
        display: none;
    }
    .picture img:nth-child(2) {
        display: block;
    }

   .text {
        width: 376px;
    }

    .thanks-page {
        width: 504px;
        height: 520px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 36px;
        margin: 0;
    }

    .thanks-text{
        width: 376px; 

    }

    .thanks-text h1 {
        font-size: 56px;
    }

    .thanks-page .btn {
        margin-top: 40px;
        width: 376px;
        background-color: var(--Charcoal-Grey);
       
    }

    .thanks-page .btn:hover {
        background-color: var(--Tomato);

    }

    .hidden {
        display: none;
    }

    .about h1 {
        font-size: 56px;
        padding-bottom: 38px;
    }

    .subscribe input:focus{
        outline: none;
        box-shadow: none;
    }

    
}

